
<% form_for(@bioentry) do |f| %>
  <%= f.error_messages %>

<p><%= f.label :Name %>
<%= f.text_field :name %></p>

<p><%= f.label :Biodatabase %>
<%= f.text_field :biodatabase_id %></p>

<p><%= f.label :Taxon %>
<%= f.text_field :taxon_id %></p>

<p><%= f.label :Accession %>
<%= f.text_field :accession %></p>

<p><%= f.label :Identifier %>
<%= f.text_field :identifier %></p>

<p><%= f.label :Division %>
<%= f.text_field :division %></p>

<p><%= f.label :Description %>
<%= f.text_field :description %></p>

<p><%= f.label :Version %>
<%= f.text_field :version %></p>

  <p><%= f.submit button_name %></p>
  <% end %>