
<div class="active-scaffold active-scaffold-blast blast-view default-theme">

  <% form_tag :action => 'blast',  :method => :get  do -%>

<div class="new-view blast-view view">
  <h4>Blast Files </h4>
      <div class="messages-container" id="blast-create--messages"/>
    <table class='blast-main-form-table' border=1  >
	<tr><td>
    <table class='blast-sub-form-table'   width="100%">
	<tr>
		<th>Query File</th>
		<td><%= select_tag :query_biodatabase_id, options_for_select(@biodatabase_options), :size=>"10" %></td>
		<th>Db File</th>
		<td><%= select_tag :db_biodatabase_id, options_for_select(@biodatabase_options), :size=>"10"   %></td>
	</tr>
	</table>
</td></tr>
<tr><td>
	<table class='blast-sub-form-table' >
    <tr>
		<th>Output name</th>
		<td><%= text_field_tag :term_name %></td>
	</tr>		
    <tr>
		<th>E Value</th>
		<td><%= text_field_tag :evalue %></td>
	</tr>
	<tr>
		<th>Identity</th>
		<td><%= text_field_tag :identity %></td>
	</tr>
	<tr>
		<th>Score</th>
		<td><%= text_field_tag :score %></td>
	</tr>		

</td></tr>
<tr><td>
  <p class="form-footer">
    <%= submit_tag 'Run Query', :class => 'submit' %>
  </p>
</td></tr>
</table>  

</div>
</div>
  <% end -%>
