
<div class="active-scaffold active-scaffold-fasta_files fasta_files-view default-theme">

  <% form_tag :action => 'blast',  :method => :get  do -%>



<div class="new-view fasta_files-view view">
  <h4>Blast Files </h4>

      <div class="messages-container" id="fasta_files-create--messages"/>
  
  <ol class="form">
      <li class="form-element">
    
<dl class="">
  <dt>
    <label for="record_query_file_">Query File</label>
  </dt>
  <dd>
    <%= select_tag :query_file_id, options_for_select(@fasta_file_options) %> 
      </dd>
</dl>  </li>
        <li class="form-element">
    
<dl class="">
  <dt>
    <label for="record_fasta_">Database</label>
  </dt>
  <dd>
    <%= select_tag :database_file_id, options_for_select(@fasta_file_options)  %> 
      </dd>
</dl>  </li>
<li class="form-element">
<dl class="">
  <dt>
    <label for="record_fasta_">E Value</label>
  </dt>
  <dd>
    <%= text_field_tag :evalue %> 
      </dd>
</dl> 
</li>
<li class="form-element">
<dl class="">
  <dt>
    <label for="record_fasta_">Identity</label>
  </dt>
  <dd>
    <%= text_field_tag :identity %> 
      </dd>
</dl> 
</li>
<li class="form-element">
<dl class="">
  <dt>
    <label for="record_fasta_">Score</label>
  </dt>
  <dd>
    <%= text_field_tag :score %> 
      </dd>
</dl> 
</li>


    </ol>

  <p class="form-footer">
    <%= submit_tag 'Run Query', :class => 'submit' %>
  </p>

</div>
</div>
  <% end -%>
