<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Bio Rails App</title>

   <%= javascript_include_tag :defaults %>
   <%= active_scaffold_includes %>
   <%= stylesheet_link_tag 'standard' %>
    <!-- BEGIN additional_content_for_head -->
    <%= yield :additional_content_for_head %>
    <!-- END additional_content_for_head -->
</head>
<body>

<div id="birhead">

<h1><%= link_to "Bio Rails App", '/' %></h1>
<div id="birhead-info">
<div id="top-right-menu">
<p> <span class="turbo-nag hidden" style="display: inline;"> 

<%= link_to "Fasta Files", :controller => 'fasta_files' %> 
 |
<%= link_to "Databases", :controller => 'biodatabases' %>
|
<%= link_to "Sequences", :controller => 'biosequences' %>
 |
<%= link_to "Terms", :controller => 'terms' %>
|
<%= link_to "Ontology", :controller => 'ontologies' %>
|
<%= link_to "Sequence Relationship", :controller => 'bioentry_relationships' %>
|
<%= link_to "Blast", :controller => 'blast' %>

</div>
</div>
</div>


<div id="content">
<%= yield -%> 
</div>
</body>


