<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BioFastaCoconutIsland</title>

   <%= javascript_include_tag :defaults %>
   <%= active_scaffold_includes %>
   <%= stylesheet_link_tag 'standard' %>
    <!-- BEGIN additional_content_for_head -->
    <%= yield :additional_content_for_head %>
    <!-- END additional_content_for_head -->
</head>
<body>

<div id="birhead">
  <h1><%= link_to "BioFastaCoconutIsland", '/' %></h1>


         

  <div id="birhead-info">
 <div id="top-left-menu"  class="birhead-link-menu">
  <% if logged_in? %>
      <%= link_to "Logout", "/logout" %>
  <% else %>
      <%= link_to "Login", "/login" %>
  <% end %>
  </div>  

  <div id="top-right-menu"  class="birhead-link-menu">
  <p> <span class="turbo-nag hidden" style="display: inline;"> 
  <% if logged_in? %> 
   Hello <%= current_user.login %>, 
  <%= link_to "Fasta Files", :controller => 'fasta_files' %> 
   |
  <%= link_to "Databases", :controller => 'biodatabases' %>
  |
  <%= link_to "Sequences", :controller => 'biosequences' %>
   |
  <%= link_to "Terms", :controller => 'terms' %>
  |
  <%= link_to "Ontology", :controller => 'ontologies' %>
  |
  <%= link_to "Sequence Relationship", :controller => 'bioentry_relationships' %>
  |
  <%= link_to "Blast", :controller => 'blast' %>

  <% end %>

  </div>
  </div>
</div>


<div id="content">
<%= yield -%> 
</div>
</body>


